<!doctype html>
<html lang="en">
    <head>
        <title>Home Page</title>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container">
            <h1>{{session.get("username")}}'s Cart</h1>
            {% for item in items %}
                {% set quantity = session.get('cart', {}).get(item['ID'] | string)%}
                {% if quantity %}
                <div style="display: flex; align-items: center; gap: 10px;">
                    <p style="margin: 0;">
                        Item: {{item['description']}} | Count: {{quantity}} | Price: ${{(item['price'] * quantity) | round(2)}}
                    </p>
                </div>
                <hr>
                {% endif %}
            {% endfor %}
            <p>
                Total: ${{total | round(2)}}
            </p>
            <div style="display: flex; align-items: center; gap: 10px;">
                <form action="{{url_for('makePurchase')}}" style="margin: 0;" method="POST">
                    <button type="submit">Checkout</button>
                </form>
                <a href="{{url_for('homePage')}}">Back</a>
            </div>
        </div>
    </body>
</html>