<!doctype html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div style="display: flex;">
        <div style="width: 60%; border: 1px solid black;">
            <div class="container">
                <h1>Home Page</h1>
                {% for item in items %}
                    <p>
                        {{item['description']}} | ${{item['price']}} | ({{item['name']}})
                    </p>
                    <form action="{{ url_for('addItem') }}" method="POST">
                        <input type="hidden" name="item_id" value="{{item['ID']}}">
                        <button type="submit">Add to Cart</button>
                    </form>
                    <hr>
                {% endfor %}
            </div>
        </div>
        <div style="width: 40%; border: 1px solid black;">
            <div class="container">
                <h1>{{session.get("username")}}'s Cart</h1>
                {% for item in items %}
                    {% set quantity = session.get('cart', {}).get(item['ID'] | string)}
                    {% if qty %}
                    <p>
                          Item: {{item['description']}} | Count: ${{qty}} | Price: ${{item['price'] * qty}} | 
                    </p>
                    <hr>
                    {% endif %}
                {% endfor %}
                <form action="{{ url_for('addItem') }}" method="POST">
                    <input type="hidden" name="item_id" value="{{item['ID']}}">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>


