<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Landing Page</title>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container">
            <h1 class="mt-5">Welcome To The Shop</h1>
            <a href="/SignInPage" class="btn btn-primary">Sign In</a>
            <a href="/SignUpPage" class="btn btn-primary">Sign Up</a>
            <img src="{{ url_for('static', filename='kasaneTeto.jpg') }}" class="mt-4 d-block" alt="Kasane Teto" style="max-width: 100%;">
        </div>
    </body>
</html>