<!doctype html>
<html lang="en">
  <head>
    <title>Sign In</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <h1>Add New User</h1>
        <form action="{{ url_for('createUser') }}" method="post">
        <label for="email">Email:</label><br />
        <input type="text" id="email" name="email" required /><br />
        <label for="username">Username:</label><br />
        <input type="text" id="username" name="username" required /><br />
        <label for="password">Password:</label><br />
        <input type="text" id="password" name="password" required /><br />
        <input type="submit" value="Submit" />
        <a href="/" class="btn btn-primary">Back</a>
        </form>
    </div>
  </body>
</html>